.header-of-block
	display block
	clear both
	font-size 1rem
	font-weight 600
	text-align center
	color #4F4F4F
	letter-spacing 0.06rem

@media only screen and (max-width 604px)
	.header-of-block
		margin-top 20px