mixin slider-discrete()
    .slider-discrete.js-slider-discrete
    .slider-discrete__scale
        .slider-discrete__digit-zero 0
        .slider-discrete__digit-quarter 25
        .slider-discrete__digit-half 50
        .slider-discrete__digit-three-quarter 75
        .slider-discrete__digit-full 100