mixin arrow-button(options = {direction:"left", arrowColor:"#4EB7A8", buttonColor:"white"})
    -let ppoints;
    -let {direction="left", arrowColor="#4EB7A8", buttonColor="white"} = options;
    -(direction == "left")?ppoints = "18,11 8,21 18,31":ppoints="10,11 20,21 10,31";
        button.arrow-button(class="arrow-button_color_"+buttonColor)
            svg.arrow-button__arrow
                polyline(points= ppoints, fill="none", stroke-width="4", stroke= arrowColor)