div(class="messaging")
    +header-of-block("MESSAGING")
    div(class="messaging__container")
        div(class="chat__header-1") Sarah Brown
        div(class="chat__photo")
        div(class="chat__header-2")
        div(class="chat__body")
            div(class="chat__icon chat__icon_left")
            div(class="chat__icon chat__icon_right")
            div(class="chat__massage") Hey ! So are we cool to meet at the art gallery? Say 8pm
            textarea(class="chat__massage-input") Yeah that sounds great. See you then.
            button(class="std-button std-button_color_green std-button_theme_chat") REPLY