include ../header-of-block/header-of-block.pug
include ../standard-button/standard-button.pug

section.messaging
    +header-of-block("messaging")
    form.messaging__container
        .chat__block Sarah Brown
            .chat__photo
            .chat__icon.chat__icon_left
            .chat__icon.chat__icon_right
        .chat__header-lower-block
        .chat__body
            .chat__message Hey ! So are we cool to meet at the art gallery? Say 8pm
                .chat__message-tail
            textarea.chat__message-input Yeah that sounds great. See you then.
            +standard-button({text:"reply", color:"green", size:"", effect:"", activeStatus:"", theme:"chat"})