.messaging
  position relative
  float right
  min-width 16rem
  @media only screen and (max-width 33.556rem)
    float left
    min-width 15.278rem

.messaging__container
  padding-top 0.556rem 