include ../header-of-block/header-of-block.pug
include ../chat/chat.pug

mixin messaging(options)
    section.messaging
        +header-of-block("messaging")
        .messaging__container
            +chat(options)