.messaging
  position relative
  float right
  min-width 288px

.messaging__container
  padding-top 10px

@import 'chat/chat.styl'

@media only screen and (max-width 604px)
  .messaging
    float left
    min-width 275px