.datepicker__digit
  font-family 'Lato', Sans-Serif
  max-width 10.389rem
  background #E75735
  color #FFFFFF
  font-size 4.5rem
  font-weight normal
  padding 0.35rem 0 0.25rem 33.1%
  border none
  border-top-right-radius 0.167rem
  border-top-left-radius 0.167rem
  @media only screen and (max-width 33.556rem)
    max-width 10.278rem