.datepicker
  
  &__digit
    width 67%
    background #E75735
    color #FFFFFF
    font-family 'Lato', Sans-Serif
    font-size 4.5rem
    font-weight normal
    padding 0.35rem 0 0.25rem 33.1%
    border none
    border-top-right-radius 0.167rem
    border-top-left-radius 0.167rem

  @media only screen and (max-width 33.556rem)
    max-width 15rem