include ../header-of-block/header-of-block.pug
include ../video-frame/video-frame.pug

mixin video(options)
    section.video
        +header-of-block("video")
        .video__content
            +video-frame(options)