.map
  display flex
  flex-direction column

  &__frame
    width 100%
    min-height 11.278rem
    border none
    padding-top 0.889rem

  &__legend
    background #E75735
    color #FFFFFF
    width 100%
    min-height 3.833rem
    border-bottom-right-radius 0.167rem
    border-bottom-left-radius 0.167rem

    @media only screen and (max-width 22.778rem)
      height 6rem

  &__invite
    float left
    padding-top 0.833rem
    padding-left 1.611rem
    width 7.5rem
    font-size 1.6rem

  &__adress
    float left
    padding-top 1.056rem
    font-size 0.65rem
    font-weight bold
    letter-spacing 0.067rem
    text-transform uppercase

  &__icon
    float right
    padding 1.222rem 1.444rem 0 0

    &_first
      padding 1.167rem 1.222rem 0 0