div(class="std-buttons")
    +header-of-block("standard buttons")
    div(class="std-buttons__row std-buttons__row_first")
        form(class="std-buttons__std-button")
            button(class="std-button std-button_color_green std-button_ripple-eff std-button_size_small") button
        form(class="std-buttons__std-button")
            button(class="std-button std-button_color_green std-button_ripple-eff") button
        form(class="std-buttons__std-button")
            button(class="std-button std-button_color_red std-button_ripple-eff") button
        form(class="std-buttons__std-button")
            button(class="std-button std-button_color_red std-button_ripple-eff std-button_size_small") button
    div(class="std-buttons__row")
        form(class="std-buttons__std-button")
            button(class="std-button std-button_color_green std-button_size_small") button
        form(class="std-buttons__std-button")
            button(class="std-button std-button_color_green") button
        form(class="std-buttons__std-button")
            button(class="std-button std-button_color_red") button
        form(class="std-buttons__std-button")
            button(class="std-button std-button_color_red std-button_size_small") button
    div(class="std-buttons__row")
        form(class="std-buttons__std-button")
            button(class="std-button std-button_inactive-green std-button_size_small") button
        form(class="std-buttons__std-button")
            button(class="std-button std-button_inactive-green") button
        form(class="std-buttons__std-button")
            button(class="std-button std-button_inactive-red") button
        form(class="std-buttons__std-button")
            button(class="std-button std-button_inactive-red std-button_size_small") button