div(class="std-buttons")
    h1 STANDARD BUTTONS
    button(class="std-button std-button_color_green std-button_ripple-eff std-button_size_small") BUTTON
    button(class="std-button std-button_color_green std-button_ripple-eff") BUTTON
    button(class="std-button std-button_color_red std-button_ripple-eff") BUTTON
    button(class="std-button std-button_color_red std-button_ripple-eff std-button_size_small") BUTTON

    button(class="std-button std-button_color_green std-button_size_small") BUTTON
    button(class="std-button std-button_color_green") BUTTON
    button(class="std-button std-button_color_red") BUTTON
    button(class="std-button std-button_color_red std-button_size_small") BUTTON

    button(class="std-button std-button_color_green std-button_inactive std-button_size_small") BUTTON
    button(class="std-button std-button_color_green std-button_inactive") BUTTON
    button(class="std-button std-button_color_red std-button_inactive") BUTTON
    button(class="std-button std-button_color_red std-button_inactive std-button_size_small") BUTTON