.std-buttons
	min-height 272px
	margin-top 81px
	
.std-buttons__row
	margin 20px 12px 11px 52px
	&_first
		margin-top 71px

.std-buttons__std-button
	margin 0 12px
	display inline
	vertical-align bottom