mixin slider-discrete(options = {min: 0, max: 100, step: 25, value: 75, range: "min", theme: "green"})
    -let {min = 0, max = 100, step = 25, value = 75, range = "min", theme = "green"} = options;
    .slider-discrete.js-slider-discrete(data-min= min, data-max= max, data-step= step, data-value= value, data-range= range, data-theme= theme)
    .slider-discrete__scale
        .slider-discrete__digit-zero 0
        .slider-discrete__digit-quarter 25
        .slider-discrete__digit-half 50
        .slider-discrete__digit-three-quarter 75
        .slider-discrete__digit-full 100