.sliders
	min-height 120px

.sliders__right-column
	float right
	width 260px
	padding 33px 5px 15px 32px

.sliders__left-column
	float left
	width 260px
	padding 33px 37px 40px 0

@import 'slider1/slider1.styl'
@import 'slider2/slider2.styl'

@media only screen and (max-width 604px)
	.sliders__right-column
		padding 40px 10px 20px
		float left

	.sliders__left-column
		padding 40px 10px 20px