include ../header-of-block/header-of-block.pug
include ../slider-with-pop-up/slider-with-pop-up.pug
include ../slider-discrete/slider-discrete.pug

mixin sliders()
    section.sliders
        +header-of-block("sliders")
        .sliders__left-column
            +slider-with-pop-up()
        .sliders__right-column
            +slider-discrete()