include ../header-of-block/header-of-block.pug
include ../slider-with-pop-up/slider-with-pop-up.pug
include ../slider-discrete/slider-discrete.pug

mixin sliders(options = {header: "sliders", slidersSettings: [{min: 0, max: 100, step: 1, value: 40, range: "", theme: "orange"}, {min: 0, max: 100, step: 25, value: 75, range: "min", theme: "green"}]})
    -let {header = "sliders", slidersSettings = []} = options;
    section.sliders
        +header-of-block(header)
        .sliders__left-column
            +slider-with-pop-up(slidersSettings[0])
        .sliders__right-column
            +slider-discrete(slidersSettings[1])