.sliders
  min-height 6.5rem

  &__right-column
    float right
    width 14.444rem
    padding 1.722rem 0.278rem 0.833rem 1.778rem
    
    @media only screen and (max-width 33.556rem)
      padding 2.222rem 0.556rem 1.111rem
      float left

  &__left-column
    float left
    width 14.444rem
    padding 1.722rem 2.056rem 2.222rem 0
    
    @media only screen and (max-width 33.556rem)
      padding 2.222rem 0.556rem 1.111rem