include ../standard-buttons/standard-buttons.pug
include ../arrow-buttons/arrow-buttons.pug
include ../percentage-pie-chart/percentage-pie-chart.pug
include ../video/video.pug
include ../sliders/sliders.pug
include ../stages/stages.pug
include ../form-elements/form-elements.pug
include ../search-drop-down/search-drop-down.pug
include ../user-profile/user-profile.pug
include ../news-events/news-events.pug
include ../location/location.pug
include ../calendar/calendar.pug
include ../messaging/messaging.pug

mixin wrap()
    main.wrap
        section.wrap__column.wrap__column_position_center
                +standard-buttons({header: "standard buttons", buttons: [
                                {text:"button", color:"green", size:"small", effect:"ripple", activeStatus:""},
                                {text:"button", color:"green", size:"", effect:"ripple", activeStatus:""},
                                {text:"button", color:"red", size:"", effect:"ripple", activeStatus:""},
                                {text:"button", color:"red", size:"small", effect:"ripple", activeStatus:""},
                                {text:"button", color:"green", size:"small", effect:"", activeStatus:""},
                                {text:"button", color:"green", size:"", effect:"", activeStatus:""},
                                {text:"button", color:"red", size:"", effect:"", activeStatus:""},
                                {text:"button", color:"red", size:"small", effect:"", activeStatus:""},
                                {text:"button", color:"green", size:"small", effect:"", activeStatus:"inactive"},
                                {text:"button", color:"green", size:"", effect:"", activeStatus:"inactive"},
                                {text:"button", color:"red", size:"", effect:"", activeStatus:"inactive"},
                                {text:"button", color:"red", size:"small", effect:"", activeStatus:"inactive"}]
                                })
                +arrow-buttons({header: "arrow buttons", buttons: [
                                {direction:"left", arrowColor:"#4EB7A8", buttonColor:"white"},
                                {direction:"right", arrowColor:"#4EB7A8", buttonColor:"white"},
                                {direction:"left", arrowColor:"#FFFFFF", buttonColor:"gray"},
                                {direction:"right", arrowColor:"#FFFFFF", buttonColor:"gray"},
                                {direction:"left", arrowColor:"#FFFFFF", buttonColor:"green"},
                                {direction:"right", arrowColor:"#FFFFFF", buttonColor:"green"}]
                                })
                +percentage-pie-chart({header: "percentages / pie chart", charts: [
                                        {type:"percentage", percent:0},
                                        {type:"percentage", percent:38},
                                        {type:"percentage", percent:62},
                                        {type:"percentage", percent:89},
                                        {type:"pie-chart", percent:[{color:"#E5E5E5", percent:33},
                                                                {color:"#747474", percent:11},
                                                                {color:"#4EB7A8", percent:26},
                                                                {color:"#E75735", percent:30}]}]
                                        })
                +sliders({header: "sliders", slidersSettings: [{min: 0, max: 100, step: 1, value: 40, range: "", theme: "orange"},
                                                        {min: 0, max: 100, step: 25, value: 75, range: "min", theme: "green"}]
                        })
                +stages({header: "stages", stagesSettings: {markedStage:3, maxStage:5, colorOfMarkedStage:"#E75735",
                                                colorOfInactiveStage:"#E5E5E5", textColor:"#FFFFFF", inactiveTextColor:"#888888"}
                        })
                +form-elements({headerOfFormElementsBlock: "form elements", headerOfTogglesBlock: "toggles", headerOfTickBlock: "tick boxes",
                                togglesSettings: [{checked: false}, {checked: true}],
                                ticksSettings: [{checked: true, id: "c1"}, {checked: false, id: "c2"}]
                                })
                .wrap__positioner
                        +search-drop-down({header: "search / drop down",
                                                searchesSettings: [{placeholder:"Search", errorStatus:false},
                                                        {placeholder:"I've not found what I'm looking for...", errorStatus:true}],
                                                selectmenuSettings: {selectedItem: 1, items:["Choose An Option","Option 1","Option 2","Option 3","Option 4"]}
                                                })
                        +user-profile({header: "user profile", profiles: [
                                        {photo: "images/photo-john-smith.png", photoPosition:"-1.444rem 0", name: "John Smith",
                                                profession: "ux designer", theme: "light", iconsTheme: "dark"},
                                        {photo: "images/photo-sarah-brown.png", photoPosition:"-0.444rem -0.444rem", name: "Sarah Brown",
                                                profession: "developer", theme: "green", iconsTheme: "light"}]
                                        })
                +news-events({header: "news & events",
                                news: {image:"images/news-photo.png", header: "It's all going downhill", date: "24 august 2013",
                                        text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros."},
                                events: {image:"images/events-photo.png", day: "24", month: "Aug", title: "this is the title",
                                        text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
                                        buttonSettings: {text:"add to calendar", color:"green", size:"small", effect:"", activeStatus:"inactive"}}
                                })
                +location({header: "location",
                        mapSettings: {invite: "Meet us!", localAdress: "1259 california st", globalAdress: "san francisco, ca",
                                latitude: 37.791079, longitude: -122.415078, markerIcon: "images/icon-map-popup.png"}
                                })
                .wrap__positioner
                        +calendar({header: "calendar", datepickerSettings: {prevText: "<",
                                                                        nextText: ">",
                                                                        currentText: "TODAY",
                                                                        dayNamesMin: [ "SUN", "MON", "TUE", "WED", "THU", "FRI", "SAT" ],
                                                                        dateFormat: "dd/mm/yy",
                                                                        firstDay: 1,
                                                                        altField: ".datepicker__digit",
                                                                        altFormat: "dd",
                                                                        showButtonPanel: "false"}
                                        })
                        +messaging({header: "messaging",
                                        chatSettings: {name: "Sarah Brown", photo: "images/photo-sarah-brown.png",
                                                message: "Hey ! So are we cool to meet at the art gallery? Say 8pm",
                                                inputPlaceholder: "Yeah that sounds great. See you then.",
                                                buttonSettings: {text:"reply", color:"green", size:"", effect:"", activeStatus:""}}
                                        })
                +video({header: "video", frameSettings: {link:"https://player.vimeo.com/video/62980495", color: "E75735"}
                        })