include ../header-of-block/header-of-block.pug
include ../datepicker/datepicker.pug

mixin calendar( options = {header: "calendar", datepicker: {}})
    -let {header = "calendar", datepicker = {}} = options;
    section.calendar
        +header-of-block(header)
        .calendar__datepicker
            +datepicker(datepicker)