div(class="calendar")
    +header-of-block("calendar")
    div(class="calendar__datepicker")
        form(class="calendar__form")
            input(class="datepicker__digit", disabled)
            div(class="datepicker")