include ../header-of-block/header-of-block.pug

section.calendar
    +header-of-block("calendar")
    .calendar__datepicker
        form.calendar__form
            input.datepicker__digit(disabled)
            .datepicker.js-datepicker