include ../header-of-block/header-of-block.pug
include ../datepicker/datepicker.pug

mixin calendar( options = {header: "calendar", datepickerSettings: {}})
    -let {header = "calendar", datepickerSettings = {}} = options;
    section.calendar
        +header-of-block(header)
        .calendar__datepicker
            +datepicker(datepickerSettings)