.form-elements
  min-height 18.5rem

.form-elements__left-block
  float left
  width 48.35%
  margin-top 1.889rem
  @media only screen and (max-width 33.556rem)
    float left
    width 95%
    padding 2.5%

.form-elements__right-block
  float right
  width 48%
  text-align center
  margin-top 0.833rem
  @media only screen and (max-width 33.556rem)
    float left
    width 95%
    padding 2.5%

.form-elements__positioner-upper
  padding 0.889rem 0 1rem 0

.form-elements__positioner-lower
  padding 0.889rem 0 0 0.611rem

.form-elements__switch
  display inline-block
  margin 0 0.389rem 0 0.444rem

.form-elements__tick-box
  display inline-block