.form-elements
    min-height 333px

.form-elements__left-block
    float left
    width 48.35%
    margin-top 34px

.form-elements__right-block
    float right
    width 48%
    text-align center
    margin-top 15px

.form-elements__positioner-1
    padding 16px 0 18px 0

.form-elements__positioner-2
    padding 16px 0 0 11px

.form-elements__switch
	display inline-block
	margin 0 7px 0 8px

.form-elements__tick-box
	display inline-block

@import 'toggle-switch/toggle-switch.styl'
@import 'tick-box/tick-box.styl'
@import 'simple-form/simple-form.styl'

@media only screen and (max-width 604px)
	.form-elements__right-block
	.form-elements__left-block
		float left
		width 95%
		padding 2.5%