.form-elements

  &__container
    display flex
    flex-wrap wrap
  
  &__form
    flex-basis 48.5%
    margin 1.9rem 0 2.65rem 0

    @media only screen and (max-width 38rem)
      flex-basis 100%
      margin 0

  &__toggles-tick-boxes
    flex-basis 44%
    margin 0.85rem 0 0 2.1rem

    @media only screen and (max-width 38rem)
      flex-basis 100%
      margin 0

  &__toggles
    margin 1.65rem 0 1.85rem 2.8rem

    @media only screen and (max-width 38rem)
      margin 0 auto
      max-width 9rem

  &__tick-boxes
    margin 1.65rem 0 1.85rem 5.1rem

    @media only screen and (max-width 38rem)
      margin 0 auto
      max-width 4.5rem

  &__switch
    display inline-block
    margin 0 0.389rem 0 0.444rem

  &__tick-box
    display inline-block