div(class="form-elements")
    +header-of-block("FORM ELEMENTS")
    div(class="form-elements__spacer")
    div(class="form-elements__left-block")
        input(class="form-elements__input-text input-text", type="text", name="your-name", value="Your Name")
        div(class="form-elements__message message message_color_red") ERROR
        input(class="form-elements__input-text input-text", type="text", name="your-email", value="Your Email")
        div(class="form-elements__message message message_color_green") THANKS!
        textarea(class="form-elements__input-textarea input-text") Your Message
        input(class="std-button form-elements__button std-button_color_green", type="submit", value="SUBMIT")
    div(class="form-elements__right-block")
        +header-of-block("TOGGLES")
        +header-of-block("TICK BOXES")