include ../header-of-block/header-of-block.pug
include ../simple-form/simple-form.pug
include ../toggle-switch/toggle-switch.pug
include ../tick-box/tick-box.pug

mixin form-elements()
    section.form-elements
        +header-of-block("form elements")
        .form-elements__container
            .form-elements__form
                +simple-form()
            form.form-elements__toggles-tick-boxes
                +header-of-block("toggles")
                .form-elements__toggles
                    .form-elements__switch
                        +toggle-switch({checked: false})
                    .form-elements__switch
                        +toggle-switch({checked: true})
                +header-of-block("tick boxes")
                .form-elements__tick-boxes
                    .form-elements__tick-box
                        +tick-box({checked: true, id: "c1"})
                    .form-elements__tick-box
                        +tick-box({checked: false, id: "c2"})