.pie-chart
  max-width 5.333rem
  max-height 5.333rem

.pie-chart__circle
  fill none
  stroke-width 17
  &_color_grey
    stroke #747474
  &_color_red
    stroke #E75735
  &_color_green
    stroke #4EB7A8
  &_color_light-grey
    stroke #E5E5E5