div(class="news-events")
    +header-of-block("news & events")
    div(class="news-events__news")
        div(class="news news_color_red")
            div(class="news__content-block-left")
            div(class="news__content-block-right")
                h2(class="news__header") It's all going downhill
                h2(class="news__date") 24 august 2013
                p(class="news__text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros. 
    div(class="news-events__events")
        div(class="events events_color_green")
            div(class="events__content-block-left")
            form(class="events__content-block-right")
                h2(class="events__date-1") 24
                h2(class="events__date-2") Aug
                h2(class="events__title") this is the title
                p(class="events__text") Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                div(class="events__button")
                    button(class="std-button std-button_color_green std-button_theme_events") add to calendar