.news-events
  min-height 299px

.news-events__news
  width 48.5%
  margin-top 18px
  float left

.news-events__events
  width 48.4%
  margin-top 18px
  float right
    
@import 'news/news.styl'
@import 'events/events.styl'

@media only screen and (max-width 604px)
  .news-events__events
    float left
    min-width 275px
    margin-bottom 20px

  .news-events__news
    min-width 275px