div(class="news-events")
    +header-of-block("NEWS & EVENTS")
    div(class="news-events__block news")
        div(class="news-events__content news-events__content_color_red")
            h1(class="news-header") It's all going downhill
            h2(class="news-date") 24 AUGUST 2013
            div(class="news-content") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.
    div(class="news-events__block events")
        div(class="news-events__content news-events__content_color_green")
            h1(class="events-date-1") 24
            h1(class="events-date-2") Aug
            h2(class="events-title") THIS IS THE TITLE
            div(class="events-content") Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            button(class="std-button events-button std-button_color_green") ADD TO CALENDAR