.news-events
  min-height 16.611rem

.news-events__news
  width 48.5%
  margin-top 1rem
  float left
  @media only screen and (max-width 33.556rem)
    min-width 15.278rem

.news-events__events
  width 48.4%
  margin-top 1rem
  float right
  @media only screen and (max-width 33.556rem)
    float left
    min-width 15.278rem
    margin-bottom 1.111rem
    