.news-events

  &__news
    width 48.5%
    margin 1rem 0 2.65rem 0
    float left

    @media only screen and (max-width 33.556rem)
      width 100%
      margin 0.25rem

  &__events
    width 48.4%
    margin 1rem 0 2.65rem 0
    float right

    @media only screen and (max-width 33.556rem)
      float left
      width 100%
      margin 0.25rem
      box-sizing border-box
    