div(class="search-drop-down")
    +header-of-block("search / drop down")
    div(class="search-drop-down__search-1")
        form(class="search")
            input(class="search__input", type="search", placeholder="Search", name="keywords")
            input(class="search__button", type="submit", value="")/
    div(class="search-drop-down__search-2")
        form(class="search")
            input(class="search__input search__input_color_red", type="search", placeholder="I've not found what I'm looking for...", name="keywords")
            input(class="search__button", type="submit", value="")/
    form(class="search-drop-down__selectmenu-form")
        select(class="selectmenu", id="selectmenu")
            option(class="selectmenu__item", selected="selected") Choose An Option
            option(class="selectmenu__item") Option 1
            option(class="selectmenu__item") Option 2
            option(class="selectmenu__item") Option 3
            option(class="selectmenu__item") Option 4