div(class="search-drop-down")
    +header-of-block("SEARCH / DROP DOWN")
    select(id="selectmenu")
        option Slower
        option Slow
        option(selected="selected") Medium
        option Fast
        option Faster