.search-drop-down
  float left
  width 48.5%
  @media only screen and (max-width 33.556rem)
    width 95%
  &__search-success
    margin 1.111rem 0 0.889rem
    width 100%
    @media only screen and (max-width 33.556rem)
      margin 0.556rem
  &__search-unsuccess
    margin 0 0 0.444rem
    width 100%
    @media only screen and (max-width 33.556rem)
      margin 0.556rem