div(class="arr-buttons") 
    +header-of-block("ARROW BUTTONS")
    button(class="arr-button arr-buttons__arr-button arr-button_color_white") <
    button(class="arr-button arr-buttons__arr-button arr-button_color_white") >
    button(class="arr-button arr-buttons__arr-button arr-button_color_gray") <
    button(class="arr-button arr-buttons__arr-button arr-button_color_gray") >
    button(class="arr-button arr-buttons__arr-button arr-button_color_green") <
    button(class="arr-button arr-buttons__arr-button arr-button_color_green") >