mixin arrow(direction, arrcolor)
    -var ppoints;
    -(direction == "left")?ppoints = "18,11 8,21 18,31":ppoints="10,11 20,21 10,31";
        svg(class="arr-button__arrow")
            polyline(points= ppoints, fill="none", stroke-width="4", stroke= arrcolor)

mixin arr-button(direction, arrcolor, color)
    -var ppoints;
    -(direction == "left")?ppoints = "18,11 8,21 18,31":ppoints="10,11 20,21 10,31";
        button(class="arr-button arr-button_color_"+color)
            svg(class="arr-button__arrow")
                polyline(points= ppoints, fill="none", stroke-width="4", stroke= arrcolor)

div(class="arr-buttons")
    +header-of-block("arrow buttons")
    div(class="arr-buttons__positioner")
        div(class="arr-buttons__arr-button")
            +arr-button("left","#4EB7A8", "white")
        div(class="arr-buttons__arr-button")
            +arr-button("right","#4EB7A8", "white")
        div(class="arr-buttons__arr-button")
            +arr-button("left","#FFFFFF", "gray")
        div(class="arr-buttons__arr-button")
            +arr-button("right","#FFFFFF", "gray")
        div(class="arr-buttons__arr-button")
            +arr-button("left","#FFFFFF", "green")
        div(class="arr-buttons__arr-button")
            +arr-button("right","#FFFFFF", "green")