.arr-button
    width 50px
    height 50px
    border-radius 50%
    background green
    font-size 23px
    font-weight bold
    border none

.arr-buttons__arr-button:first-child
    margin-left 24px

.arr-buttons__arr-button
    margin 12px

.arr-button_color_green
    background #4EB7A8
    color #FFFFFF

.arr-button_color_gray
    background #E5E5E5
    color #FFFFFF

.arr-button_color_white
    background #FFFFFF
    color #4EB7A8
    border 4px solid #4EB7A8