div(class="user-profile")
    +header-of-block("USER PROFILE")
    div(class="user-profile__photo photo-block photo-1")
    div(class="user-profile__block block-1")
        h1(class="user-profile__name user-profile__name_theme_light") John Smith
        h2(class="user-profile__post user-profile__post_theme_light") UX DESIGNER
        div(class="user-profile__icons")
            img(src='public/images/FB.png')
            img(src='public/images/TW.png', class="user-profile__social-icon")
            img(src='public/images/DR.png')
    div(class="user-profile__photo photo-block photo-2")
    div(class="user-profile__block block-2")
        h1(class="user-profile__name user-profile__name_theme_green") Sarah Brown
        h2(class="user-profile__post user-profile__post_theme_green") DEVELOPER
        div(class="user-profile__icons")
            img(src='public/images/FB_white.png')
            img(src='public/images/TW_white.png', class="user-profile__social-icon")
            img(src='public/images/DR_white.png')