.user-profile
  display flex
  flex-direction column

  &__block

    &:nth-child(2)
    &:nth-child(3)
      margin 0.833rem 0 0.667rem 2.111rem

      @media only screen and (max-width 33.556rem)
        margin 0.5rem