include ../header-of-block/header-of-block.pug
include ../profile/profile.pug

mixin user-profile(options = [{photo: "images/photo-john-smith.png", photoPosition:"-1.444rem 0", name: "John Smith", profession: "ux designer", theme: "light", iconsTheme: "dark"}])
    section.user-profile
        +header-of-block("user profile")
        -options.forEach(function(item, i, arr) {
            .user-profile__block
                +profile({photo: item.photo, photoPosition: item.photoPosition,  name: item.name, profession: item.profession, theme: item.theme, iconsTheme: item.iconsTheme})
        -});