div(class="user-profile")
    +header-of-block("user profile")
    div(class="user-profile__block-1")
        div(class="profile")
            div(class="profile__photo profile__photo_num-photo_1")
            div(class="profile__content")
                h2(class="profile__name profile__name_theme_light") John Smith
                h2(class="profile__post profile__post_theme_light") ux designer
                div(class="profile__icons")
                    img(class="social-icon", src="public/images/facebook.png", alt="FaceBook")
                    img(class="social-icon", src="public/images/twitter.png", alt="Twitter", class="profile__social-icon-middle")
                    img(class="social-icon", src="public/images/dribbble.png", alt="Dribbble")
    div(class="user-profile__block-2")
        div(class="profile")
            div(class="profile__photo profile__photo_num-photo_2")
            div(class="profile__content profile__content_theme_green")
                h2(class="profile__name profile__name_theme_green") Sarah Brown
                h2(class="profile__post profile__post_theme_green") developer
                div(class="profile__icons")
                    img(class="social-icon", src="public/images/facebook-white.png", alt="FaceBook")
                    img(class="social-icon", src="public/images/twitter-white.png", alt="Twitter", class="profile__social-icon-middle")
                    img(class="social-icon", src="public/images/dribbble-white.png", alt="Dribbble")