.user-profile
  display flex
  flex-direction column
  min-width 268px
  &__block-1
    width 266px
    margin 15px 0 0 38px
  &__block-2
    width 266px
    margin 27px 0 0 38px

@import 'profile/profile.styl'

@media only screen and (max-width 604px)
  .user-profile
    float left
    margin 10px