.user-profile
  display flex
  flex-direction column
  min-width 14.889rem
  &__block-1
    width 14.778rem
    margin 0.833rem 0 0 2.111rem
  &__block-2
    width 14.778rem
    margin 1.5rem 0 0 2.111rem
  @media only screen and (max-width 33.556rem)
    float left
    margin 0.556rem