div(class="user-profile")
    +header-of-block("USER PROFILE")
    div(class="user-profile__photo photo-block photo-1")
    div(class="user-profile__block block-1")
    div(class="user-profile__photo photo-block photo-2")
    div(class="user-profile__block block-2")