.location
    min-height 362px

.location-map
    width 594px
    height 204px
    border 0
    padding-top 17px

.location__legend
    background #E75735
    color #FFFFFF
    height 69px
    margin-top -5px

.location_invite, .location_adress
    float left
    padding-left 20px
    width 120px

.location_icon
    float right