include ../header-of-block/header-of-block.pug
include ../map/map.pug

mixin location(options)
    section.location
        +header-of-block("location")
        .location__content
            +map(options)