.percentage-pie-chart
  min-height 8.944rem

  &__content
    display flex
    justify-content space-between
    flex-wrap wrap

    @media only screen and (max-width 33.556rem)
      justify-content space-around

  &__graphics
    margin 0.5rem 0 0 0

    @media only screen and (max-width 33.556rem)
      margin 0.5rem