include ../header-of-block/header-of-block.pug
include ../percentage/percentage.pug
include ../pie-chart/pie-chart.pug

mixin percentage-pie-chart(options = {header: "percentages / pie chart", charts: [{type:"percentage", percent:0}]})
    -let {header = "percentages / pie chart", charts = [{type:"percentage", percent:0}]} = options;
    section.percentage-pie-chart
        +header-of-block(header)
        -charts.forEach(function(item, i, arr) {
            -if (item.type == "percentage") {
                .percentage-pie-chart__graphics
                    +percentage(item.percent)
            -} else if (item.type == "pie-chart") {
                .percentage-pie-chart__graphics
                    +pie-chart(item.percent)
            -}
        -});
        