.stages
    min-height 117px

.stages-graphics
    min-width 594px
    height 40px
    padding-top 5px
    // border 2px solid black

.stages-text_color_white
    color #FFFFFF

.stages-text_color_darkgray
    color #FFFFFF