include ../header-of-block/header-of-block.pug
include ../stage/stage.pug

mixin stages(option)
    section.stages
        +header-of-block("stages")
        .stages__graphics
            +stage(option)