.stages
    min-height 117px

.stages-graphics
    min-width 594px
    height 40px
    padding-top 5px

.stages-text
    font-size 0.8rem
    font-weight bold

.stages-text_color_white
    fill #FFFFFF

.stages-text_color_darkgrey
    fill #888888