include blocks/wrap/wrap.pug

doctype html
html
    head
        meta(charset = "utf-8")/
        meta(name = "description", content = "Верстка FlatUI")/
        meta(name = "keywords", content = "верстка")/
        meta(name = "author", content = "Sergey Karbyshev")/
        meta(name = "viewport", content = "initial-scale=1.0, width=device-width")/
        link(rel = "shortcut icon", href = require('./images/favicon.ico'), type = "image/x-icon")/
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCscn18ZPcC-ildPKU4IQeE7PClEFQ8AAQ")
        title FlatUI
    body
        +wrap()