.perc-pie-chart
  min-height 161px

.perc-pie-chart__graphics
  float left

.perc-pie-chart__graphics:nth-child(2)
  margin 7px 8px 0 0

.perc-pie-chart__graphics:nth-child(3)
  margin 10px 37px 0 0

.perc-pie-chart__graphics:nth-child(4)
  margin 10px 34px 0 0

.perc-pie-chart__graphics:nth-child(5)
  margin 10px 30px 0 0

.perc-pie-chart__graphics:last-child
  margin 10px 0 0 0

@import 'percentage/percentage.styl'
@import 'pie-chart/pie-chart.styl'

@media only screen and (max-width 604px)
  .perc-pie-chart__graphics:nth-child(2)
  .perc-pie-chart__graphics:nth-child(3)
  .perc-pie-chart__graphics:nth-child(4)
  .perc-pie-chart__graphics:nth-child(5)
  .perc-pie-chart__graphics:last-child
    margin 20px