.perc-pie-chart
    min-height 165px

.perc-pie-chart-graphics
    min-width 594px
    max-height 95px
    padding 13px 0 0 2px

.perc-text
    font-family 'Trebuchet MS', Sans-Serif
    font-weight 100
    stroke #FFFFFF
    stroke-width 1px
    font-size 2.4rem
    fill #9d9d9d