.perc-pie-chart
    min-height 165px

.perc-pie-chart-graphics
    min-width 594px
    max-height 95px
    padding 13px 0 0 2px

.perc-text
    font-weight normal
    font-size 2.3rem
    fill #9d9d9d